<launch>
<node pkg="first_project" type = "subscriber_sync" name = "subscriber_sync"/>

<!--Add static tf frames-->
<node pkg="tf" type="static_transform_publisher" name="left_frame" args="0 0.65 0 0 0 0 1 base_link Lwheel 100" />
<node pkg="tf" type="static_transform_publisher" name="right_frame" args="0 -0.65 0 0 0 0 1 base_link Rwheel 100" />
</launch>
